{% extends "base.html" %}
{% load static %}


{% block contents %}
<h5 class="mypage_title">등록된 약품</h5>
<table class="table">
    <thead>
        <tr>
            <th>등록번호</th>
            <th>이미지</th>
            <th>약품명</th>
            <th>상세정보보기</th>
        </tr>
    </thead>
    <tbody>
        {% for p in p_m %}
        <tr>
            <td>{{ p.p_id }}</td>
            <td><img src="/media/Uploaded_files/image{{ p.p_id }}.jpg" style="width: 200px; height: auto;"></td>
            <td>
                {% for medicine in medicines %}
                <table>
                    {% if medicine.p_id_id == p.p_id %}
                        <td>{{ medicine.m_name }}</td>
                    {% endif %}
                </table>
                {% endfor %}
            </td>
            <td><a href="{% url 'prescription_view' p.p_id %}">상세페이지이동</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}