{% extends "base.html" %}
{% load static %}


{% block contents %}
<div class="row">
    <div class="ocr_imgbox col" id="ocr_imgbox">
        <video id="myVideo"></video>
        <!-- <img src=""> -->
    </div>
    <div class="col">
        <div>
            <ul>
                <li class="func state">약1</li>
                <li class="func">약2</li>
                <li class="func">약3</li>
            </ul>
        </div>
        <div id="pill_info">
            <h6>약품명</h6>
            <p>종근당염산에페드린정</p>  
            <br> 
            <h6>효능효과</h6>
            <p>
                1. 다음 질환에서의 기침 : 기관지천식, 감기, 급•만성기관지염, 상기도염<br>
                2. 비점막의 충혈·종창
            </p>
            <br> 
            <h6>용법용량</h6>
            <p>성인 : 에페드린염산염으로서 1회 12.5 ～ 25 mg 1일 1 ～ 3회 경구투여한다.</p>   
            <br> 
            <h6>사용상주의사항</h6>
            <p>
                1. 경고<br>
                앰플주사제는 용기 절단시 유리파편이 혼입되어, 이상반응을 초래할 수 있으므로 사용시 유리파편 혼입이 최소화 될 수 있도록 신중하게 절단사용하되, 특히 어린이, 노약자 사용시에는 각별히 주의할 것(유리앰플주사제에 한함).
            </p>   
            <p>
                2. 다음 환자에는 투여하지 말 것.<br>
                1) 이 약 및 이 약의 구성성분에 과민반응 환자<br>
                2) 고혈압 환자<br>
                3) 갑상샘중독증 환자<br>
                4) 녹내장 환자<br>
            </p>   
            <br> 
            <h6>사용상주의사항</h6>
            <p>
                1. 경고<br>
                앰플주사제는 용기 절단시 유리파편이 혼입되어, 이상반응을 초래할 수 있으므로 사용시 유리파편 혼입이 최소화 될 수 있도록 신중하게 절단사용하되, 특히 어린이, 노약자 사용시에는 각별히 주의할 것(유리앰플주사제에 한함).
            </p>   
            <p>
                2. 다음 환자에는 투여하지 말 것.<br>
                1) 이 약 및 이 약의 구성성분에 과민반응 환자<br>
                2) 고혈압 환자<br>
                3) 갑상샘중독증 환자<br>
                4) 녹내장 환자<br>
            </p>   
            <br> 
            <h6>사용상주의사항</h6>
            <p>
                1. 경고<br>
                앰플주사제는 용기 절단시 유리파편이 혼입되어, 이상반응을 초래할 수 있으므로 사용시 유리파편 혼입이 최소화 될 수 있도록 신중하게 절단사용하되, 특히 어린이, 노약자 사용시에는 각별히 주의할 것(유리앰플주사제에 한함).
            </p>   
            <p>
                2. 다음 환자에는 투여하지 말 것.<br>
                1) 이 약 및 이 약의 구성성분에 과민반응 환자<br>
                2) 고혈압 환자<br>
                3) 갑상샘중독증 환자<br>
                4) 녹내장 환자<br>
            </p>   
            <br> 
            <h6>사용상주의사항</h6>
            <p>
                1. 경고<br>
                앰플주사제는 용기 절단시 유리파편이 혼입되어, 이상반응을 초래할 수 있으므로 사용시 유리파편 혼입이 최소화 될 수 있도록 신중하게 절단사용하되, 특히 어린이, 노약자 사용시에는 각별히 주의할 것(유리앰플주사제에 한함).
            </p>   
            <p>
                2. 다음 환자에는 투여하지 말 것.<br>
                1) 이 약 및 이 약의 구성성분에 과민반응 환자<br>
                2) 고혈압 환자<br>
                3) 갑상샘중독증 환자<br>
                4) 녹내장 환자<br>
            </p>   
            <br> 
        </div>
    </div>
</div>
<div class="row">
    <div class="btn_group">
        <a class="btn me-2" onclick="{getVideo()}">등록하기</a>
        <a class="btn me-2" onclick="{takeSnapshot()}">캡쳐하기</a>
        <a class="btn me-2">분석하기</a>
        <a class="btn btn_gray" onclick="{restart()}">다시하기</a>
        <!-- <a href="{% url 'mypage' %}" class="btn me-2">약 리스트에 등록하기</a> -->
    </div>
</div>
{% endblock%}