{% extends "base.html" %}
{% load static %}


{% block contents %}
{% if etc %}
<div class="row ocr_title">
    <h3>{{ title }}</h3>
    <p>{{ content }}</p>
</div>
{% endif %}
<div class="row">
    <div class="ocr_imgbox col" id="ocr_imgbox">
        <video id="myVideo"></video>
        <!-- <img src=""> -->
    </div>
    <div class="col" id="all_info">
        
    </div>
</div>
<!-- api form -->
<!-- <form name="frm" id="frm" method="GET">
    <input type="hidden" name="pillNm" value="종근당염산에페드린정">
</form> -->
{% if etc %}
<div class="row">
    <div class="btn_group">
        <input type="file" name="uploadfile" id="img" style="display:none;" accept="image/*" class="upload"/>
        <label for="img" class="btn me-2 upload">파일업로드</label>
        <!-- <a id="submit_btn" class="btn me-2" onclick="{getVideo()}">등록하기</a> -->
        <!-- <a id="capture_btn" class="btn me-2" onclick="{takeSnapshot()}">캡쳐하기</a> -->
        <a id="submit_btn" class="btn me-2">캡쳐하기</a>
        <a class="btn me-2" id="ocr_start">분석하기</a>
        <a class="btn btn_gray" onclick="{restart()}">다시하기</a>
        <!-- <a href="{% url 'mypage' %}" class="btn me-2">약 리스트에 등록하기</a> -->
    </div>
</div>
{% endif %}
{% endblock%}